<h1>Nuevas ventas</h1>

<h1>Datos del clientes</h1>
<h3>RNC</h3>
<h3>Razon_social</h3>
<h3>Email</h3>
<h3>Telefono</h3>
<h3>Direccion</h3>

<h1>Datos de ventas</h1>
<h3>Vendedor</h3>
<h3>NCF</h3>
<h3>No. Factura</h3>
<input type="button" value="Anular">
<input type="button" value="Procesar">

<h3>No.factura</h3>
<h3>Categoria</h3>
<h3>Producto</h3>
<h3>Descripcion</h3>
<h3>Cantidad</h3>
<h3>Precio</h3>
<h3>Precio total</h3>
<input type="button" value="Accion">

<h3>Subtotal</h3>
<h3>ITBIS</h3>
<h3>Total a pagar</h3>